In [1]:
import os
import pandas as pd
from pathlib import Path

In [2]:
cwd = os.getcwd()
print(cwd)
BASE_DIR = os.path.dirname(cwd)
print(BASE_DIR)
DATA_DIR = os.path.join(BASE_DIR, 'data')
print(DATA_DIR)

C:\Users\rober\coding\pandas_projects\Wikipedia Scraping\notebooks
C:\Users\rober\coding\pandas_projects\Wikipedia Scraping
C:\Users\rober\coding\pandas_projects\Wikipedia Scraping\data

In [3]:
os.listdir(DATA_DIR)

['wiki_city_data.csv']

In [4]:
pop_data = os.path.join(DATA_DIR, 'wiki_city_data.csv')
print(os.path.exists(pop_data))

True

In [5]:
df = pd.read_csv(pop_data, index_col=False)

In [6]:
%store -r header_names

In [7]:
print(header_names)

['2021\nrank', 'City', 'State[c]', '2021\nestimate', '2020\ncensus', 'Change', '2020 land area', '2020 population density', 'Location']

In [8]:
df

,0,1,2,3,4,5,6,7,8,9
0,New York[d],New York,"8,467,513","8,804,190",−3.82%,300.5 sq mi,778.3 km2,"29,298/sq mi","11,312/km2",".mw-parser-output .geo-default,.mw-parser-outp..."
1,Los Angeles,California,"3,849,297","3,898,747",−1.27%,469.5 sq mi,"1,216.0 km2","8,304/sq mi","3,206/km2",34°01′N 118°25′W﻿ / ﻿34.01°N 118.41°W﻿ / 34.01...
2,Chicago,Illinois,"2,696,555","2,746,388",−1.81%,227.7 sq mi,589.7 km2,"12,061/sq mi","4,657/km2",41°50′N 87°41′W﻿ / ﻿41.83°N 87.68°W﻿ / 41.83; ...
3,Houston,Texas,"2,288,250","2,304,580",−0.71%,640.4 sq mi,"1,658.6 km2","3,599/sq mi","1,390/km2",29°47′N 95°23′W﻿ / ﻿29.78°N 95.39°W﻿ / 29.78; ...
4,Phoenix,Arizona,"1,624,569","1,608,139",+1.02%,518.0 sq mi,"1,341.6 km2","3,105/sq mi","1,199/km2",33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W﻿ / 33.57...
...,...,...,...,...,...,...,...,...,...,...
326,Lynn,Massachusetts,"100,843","101,253",−0.40%,10.7 sq mi,27.7 km2,"9,463/sq mi","3,654/km2",42°28′N 70°57′W﻿ / ﻿42.47°N 70.95°W﻿ / 42.47; ...
327,Carmel,Indiana,"100,777","99,757",+1.02%,49.1 sq mi,127.2 km2,"2,032/sq mi",785/km2,39°35′N 86°36′W﻿ / ﻿39.58°N 86.60°W﻿ / 39.58; ...
328,Longmont,Colorado,"100,758","98,885",+1.89%,28.8 sq mi,74.6 km2,"3,434/sq mi","1,326/km2",40°10′N 105°07′W﻿ / ﻿40.17°N 105.11°W﻿ / 40.17...
329,Tuscaloosa,Alabama,"100,618","99,600",+1.02%,61.9 sq mi,160.3 km2,"1,609/sq mi",621/km2,33°13′N 87°32′W﻿ / ﻿33.21°N 87.53°W﻿ / 33.21; ...
330,Norwalk,California,"100,373","102,773",−2.34%,9.7 sq mi,25.1 km2,"10,595/sq mi","4,091/km2",33°54′N 118°05′W﻿ / ﻿33.90°N 118.08°W﻿ / 33.90...

In [9]:
df['2020 Land Area'] = df[['5', '6']].agg('/'.join, axis=1)

In [10]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,2020 Land Area
0,New York[d],New York,"8,467,513","8,804,190",−3.82%,300.5 sq mi,778.3 km2,"29,298/sq mi","11,312/km2",".mw-parser-output .geo-default,.mw-parser-outp...",300.5 sq mi/778.3 km2
1,Los Angeles,California,"3,849,297","3,898,747",−1.27%,469.5 sq mi,"1,216.0 km2","8,304/sq mi","3,206/km2",34°01′N 118°25′W﻿ / ﻿34.01°N 118.41°W﻿ / 34.01...,"469.5 sq mi/1,216.0 km2"
2,Chicago,Illinois,"2,696,555","2,746,388",−1.81%,227.7 sq mi,589.7 km2,"12,061/sq mi","4,657/km2",41°50′N 87°41′W﻿ / ﻿41.83°N 87.68°W﻿ / 41.83; ...,227.7 sq mi/589.7 km2
3,Houston,Texas,"2,288,250","2,304,580",−0.71%,640.4 sq mi,"1,658.6 km2","3,599/sq mi","1,390/km2",29°47′N 95°23′W﻿ / ﻿29.78°N 95.39°W﻿ / 29.78; ...,"640.4 sq mi/1,658.6 km2"
4,Phoenix,Arizona,"1,624,569","1,608,139",+1.02%,518.0 sq mi,"1,341.6 km2","3,105/sq mi","1,199/km2",33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W﻿ / 33.57...,"518.0 sq mi/1,341.6 km2"
5,Philadelphia[e],Pennsylvania,"1,576,251","1,603,797",−1.72%,134.4 sq mi,348.1 km2,"11,933/sq mi","4,607/km2",40°00′N 75°08′W﻿ / ﻿40.00°N 75.13°W﻿ / 40.00; ...,134.4 sq mi/348.1 km2
6,San Antonio,Texas,"1,451,853","1,434,625",+1.20%,498.8 sq mi,"1,291.9 km2","2,876/sq mi","1,110/km2",29°28′N 98°31′W﻿ / ﻿29.47°N 98.52°W﻿ / 29.47; ...,"498.8 sq mi/1,291.9 km2"
7,San Diego,California,"1,381,611","1,386,932",−0.38%,325.9 sq mi,844.1 km2,"4,256/sq mi","1,643/km2",32°49′N 117°08′W﻿ / ﻿32.81°N 117.13°W﻿ / 32.81...,325.9 sq mi/844.1 km2
8,Dallas,Texas,"1,288,457","1,304,379",−1.22%,339.6 sq mi,879.6 km2,"3,841/sq mi","1,483/km2",32°47′N 96°46′W﻿ / ﻿32.79°N 96.76°W﻿ / 32.79; ...,339.6 sq mi/879.6 km2
9,San Jose,California,"983,489","1,013,240",−2.94%,178.3 sq mi,461.8 km2,"5,683/sq mi","2,194/km2",37°17′N 121°49′W﻿ / ﻿37.29°N 121.81°W﻿ / 37.29...,178.3 sq mi/461.8 km2

In [11]:
df.drop(['6'], axis=1, inplace=True)

In [12]:
df['5'] = df['2020 Land Area']

In [13]:
df.drop(['2020 Land Area'], axis=1, inplace=True)

In [14]:
df.head()

,0,1,2,3,4,5,7,8,9
0,New York[d],New York,"8,467,513","8,804,190",−3.82%,300.5 sq mi/778.3 km2,"29,298/sq mi","11,312/km2",".mw-parser-output .geo-default,.mw-parser-outp..."
1,Los Angeles,California,"3,849,297","3,898,747",−1.27%,"469.5 sq mi/1,216.0 km2","8,304/sq mi","3,206/km2",34°01′N 118°25′W﻿ / ﻿34.01°N 118.41°W﻿ / 34.01...
2,Chicago,Illinois,"2,696,555","2,746,388",−1.81%,227.7 sq mi/589.7 km2,"12,061/sq mi","4,657/km2",41°50′N 87°41′W﻿ / ﻿41.83°N 87.68°W﻿ / 41.83; ...
3,Houston,Texas,"2,288,250","2,304,580",−0.71%,"640.4 sq mi/1,658.6 km2","3,599/sq mi","1,390/km2",29°47′N 95°23′W﻿ / ﻿29.78°N 95.39°W﻿ / 29.78; ...
4,Phoenix,Arizona,"1,624,569","1,608,139",+1.02%,"518.0 sq mi/1,341.6 km2","3,105/sq mi","1,199/km2",33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W﻿ / 33.57...

In [15]:
df['7'] = df['7'] + '/' + df['8']

In [16]:
df.drop(['8'], axis=1, inplace=True)

In [17]:
df.rename(columns={'0': 'City', '1': 'State', '2': '2021 estimate', '3': '2020 census', '4': 'Change', '5': '2020 land area', '7': '2020 population density', '9': 'Location' }, inplace=True)

In [18]:
df['Rank'] = df.index + 1

In [19]:
df

,City,State,2021 estimate,2020 census,Change,2020 land area,2020 population density,Location,Rank
0,New York[d],New York,"8,467,513","8,804,190",−3.82%,300.5 sq mi/778.3 km2,"29,298/sq mi/11,312/km2",".mw-parser-output .geo-default,.mw-parser-outp...",1
1,Los Angeles,California,"3,849,297","3,898,747",−1.27%,"469.5 sq mi/1,216.0 km2","8,304/sq mi/3,206/km2",34°01′N 118°25′W﻿ / ﻿34.01°N 118.41°W﻿ / 34.01...,2
2,Chicago,Illinois,"2,696,555","2,746,388",−1.81%,227.7 sq mi/589.7 km2,"12,061/sq mi/4,657/km2",41°50′N 87°41′W﻿ / ﻿41.83°N 87.68°W﻿ / 41.83; ...,3
3,Houston,Texas,"2,288,250","2,304,580",−0.71%,"640.4 sq mi/1,658.6 km2","3,599/sq mi/1,390/km2",29°47′N 95°23′W﻿ / ﻿29.78°N 95.39°W﻿ / 29.78; ...,4
4,Phoenix,Arizona,"1,624,569","1,608,139",+1.02%,"518.0 sq mi/1,341.6 km2","3,105/sq mi/1,199/km2",33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W﻿ / 33.57...,5
...,...,...,...,...,...,...,...,...,...
326,Lynn,Massachusetts,"100,843","101,253",−0.40%,10.7 sq mi/27.7 km2,"9,463/sq mi/3,654/km2",42°28′N 70°57′W﻿ / ﻿42.47°N 70.95°W﻿ / 42.47; ...,327
327,Carmel,Indiana,"100,777","99,757",+1.02%,49.1 sq mi/127.2 km2,"2,032/sq mi/785/km2",39°35′N 86°36′W﻿ / ﻿39.58°N 86.60°W﻿ / 39.58; ...,328
328,Longmont,Colorado,"100,758","98,885",+1.89%,28.8 sq mi/74.6 km2,"3,434/sq mi/1,326/km2",40°10′N 105°07′W﻿ / ﻿40.17°N 105.11°W﻿ / 40.17...,329
329,Tuscaloosa,Alabama,"100,618","99,600",+1.02%,61.9 sq mi/160.3 km2,"1,609/sq mi/621/km2",33°13′N 87°32′W﻿ / ﻿33.21°N 87.53°W﻿ / 33.21; ...,330
330,Norwalk,California,"100,373","102,773",−2.34%,9.7 sq mi/25.1 km2,"10,595/sq mi/4,091/km2",33°54′N 118°05′W﻿ / ﻿33.90°N 118.08°W﻿ / 33.90...,331

In [20]:
df.loc[0, 'Location'] = '40.66°N 73.93°W'

In [21]:
df.head()

,City,State,2021 estimate,2020 census,Change,2020 land area,2020 population density,Location,Rank
0,New York[d],New York,"8,467,513","8,804,190",−3.82%,300.5 sq mi/778.3 km2,"29,298/sq mi/11,312/km2",40.66°N 73.93°W,1
1,Los Angeles,California,"3,849,297","3,898,747",−1.27%,"469.5 sq mi/1,216.0 km2","8,304/sq mi/3,206/km2",34°01′N 118°25′W﻿ / ﻿34.01°N 118.41°W﻿ / 34.01...,2
2,Chicago,Illinois,"2,696,555","2,746,388",−1.81%,227.7 sq mi/589.7 km2,"12,061/sq mi/4,657/km2",41°50′N 87°41′W﻿ / ﻿41.83°N 87.68°W﻿ / 41.83; ...,3
3,Houston,Texas,"2,288,250","2,304,580",−0.71%,"640.4 sq mi/1,658.6 km2","3,599/sq mi/1,390/km2",29°47′N 95°23′W﻿ / ﻿29.78°N 95.39°W﻿ / 29.78; ...,4
4,Phoenix,Arizona,"1,624,569","1,608,139",+1.02%,"518.0 sq mi/1,341.6 km2","3,105/sq mi/1,199/km2",33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W﻿ / 33.57...,5

In [22]:
df.loc[1, 'Location']

'34°01′N 118°25′W\ufeff / \ufeff34.01°N 118.41°W\ufeff / 34.01; -118.41\ufeff (2 Los Angeles)'

In [23]:
location_col = ['Location']

def strip_location(current_val):
    before, sep, after = current_val.partition('\ufeff')
    new_val = before
    return new_val 

def clean_location(row):
    for col in location_col:
        current_val = row[col]
        row[col] = strip_location(current_val)
    return row

df = df.apply(clean_location, axis=1)

In [24]:
df.loc[1, 'Location']

'34°01′N 118°25′W'

In [25]:
df.head()

,City,State,2021 estimate,2020 census,Change,2020 land area,2020 population density,Location,Rank
0,New York[d],New York,"8,467,513","8,804,190",−3.82%,300.5 sq mi/778.3 km2,"29,298/sq mi/11,312/km2",40.66°N 73.93°W,1
1,Los Angeles,California,"3,849,297","3,898,747",−1.27%,"469.5 sq mi/1,216.0 km2","8,304/sq mi/3,206/km2",34°01′N 118°25′W,2
2,Chicago,Illinois,"2,696,555","2,746,388",−1.81%,227.7 sq mi/589.7 km2,"12,061/sq mi/4,657/km2",41°50′N 87°41′W,3
3,Houston,Texas,"2,288,250","2,304,580",−0.71%,"640.4 sq mi/1,658.6 km2","3,599/sq mi/1,390/km2",29°47′N 95°23′W,4
4,Phoenix,Arizona,"1,624,569","1,608,139",+1.02%,"518.0 sq mi/1,341.6 km2","3,105/sq mi/1,199/km2",33°34′N 112°05′W,5

In [26]:
df.set_index('Rank', inplace=True)

In [27]:
df

,City,State,2021 estimate,2020 census,Change,2020 land area,2020 population density,Location
Rank,,,,,,,,
1,New York[d],New York,"8,467,513","8,804,190",−3.82%,300.5 sq mi/778.3 km2,"29,298/sq mi/11,312/km2",40.66°N 73.93°W
2,Los Angeles,California,"3,849,297","3,898,747",−1.27%,"469.5 sq mi/1,216.0 km2","8,304/sq mi/3,206/km2",34°01′N 118°25′W
3,Chicago,Illinois,"2,696,555","2,746,388",−1.81%,227.7 sq mi/589.7 km2,"12,061/sq mi/4,657/km2",41°50′N 87°41′W
4,Houston,Texas,"2,288,250","2,304,580",−0.71%,"640.4 sq mi/1,658.6 km2","3,599/sq mi/1,390/km2",29°47′N 95°23′W
5,Phoenix,Arizona,"1,624,569","1,608,139",+1.02%,"518.0 sq mi/1,341.6 km2","3,105/sq mi/1,199/km2",33°34′N 112°05′W
...,...,...,...,...,...,...,...,...
327,Lynn,Massachusetts,"100,843","101,253",−0.40%,10.7 sq mi/27.7 km2,"9,463/sq mi/3,654/km2",42°28′N 70°57′W
328,Carmel,Indiana,"100,777","99,757",+1.02%,49.1 sq mi/127.2 km2,"2,032/sq mi/785/km2",39°35′N 86°36′W
329,Longmont,Colorado,"100,758","98,885",+1.89%,28.8 sq mi/74.6 km2,"3,434/sq mi/1,326/km2",40°10′N 105°07′W
330,Tuscaloosa,Alabama,"100,618","99,600",+1.02%,61.9 sq mi/160.3 km2,"1,609/sq mi/621/km2",33°13′N 87°32′W
331,Norwalk,California,"100,373","102,773",−2.34%,9.7 sq mi/25.1 km2,"10,595/sq mi/4,091/km2",33°54′N 118°05′W

In [28]:
df.loc[1, 'Location'] = '40°39′N 73°55′W'

In [29]:
df['2020 land area'] = df['2020 land area'].str.replace('/', ' or ')

In [30]:
# df['2020 population density'] = df['2020 population density'].str.strip('sq')

In [31]:
df.loc[1, '2020 population density']

'29,298/sq\xa0mi/11,312/km2'

In [32]:
df['City']

Rank
1      New York[d]
2      Los Angeles
3          Chicago
4          Houston
5          Phoenix
          ...
327           Lynn
328         Carmel
329       Longmont
330     Tuscaloosa
331        Norwalk
Name: City, Length: 331, dtype: object

In [33]:
location_col = ['City']

def partition_city(current_val):
    before, sep, after = current_val.partition('[')
    new_val = before
    return new_val 

def clean_city(row):
    for col in location_col:
        current_val = row[col]
        row[col] = partition_city(current_val)
    return row

df = df.apply(clean_city, axis=1)

In [34]:
df

,City,State,2021 estimate,2020 census,Change,2020 land area,2020 population density,Location
Rank,,,,,,,,
1,New York,New York,"8,467,513","8,804,190",−3.82%,300.5 sq mi or 778.3 km2,"29,298/sq mi/11,312/km2",40°39′N 73°55′W
2,Los Angeles,California,"3,849,297","3,898,747",−1.27%,"469.5 sq mi or 1,216.0 km2","8,304/sq mi/3,206/km2",34°01′N 118°25′W
3,Chicago,Illinois,"2,696,555","2,746,388",−1.81%,227.7 sq mi or 589.7 km2,"12,061/sq mi/4,657/km2",41°50′N 87°41′W
4,Houston,Texas,"2,288,250","2,304,580",−0.71%,"640.4 sq mi or 1,658.6 km2","3,599/sq mi/1,390/km2",29°47′N 95°23′W
5,Phoenix,Arizona,"1,624,569","1,608,139",+1.02%,"518.0 sq mi or 1,341.6 km2","3,105/sq mi/1,199/km2",33°34′N 112°05′W
...,...,...,...,...,...,...,...,...
327,Lynn,Massachusetts,"100,843","101,253",−0.40%,10.7 sq mi or 27.7 km2,"9,463/sq mi/3,654/km2",42°28′N 70°57′W
328,Carmel,Indiana,"100,777","99,757",+1.02%,49.1 sq mi or 127.2 km2,"2,032/sq mi/785/km2",39°35′N 86°36′W
329,Longmont,Colorado,"100,758","98,885",+1.89%,28.8 sq mi or 74.6 km2,"3,434/sq mi/1,326/km2",40°10′N 105°07′W
330,Tuscaloosa,Alabama,"100,618","99,600",+1.02%,61.9 sq mi or 160.3 km2,"1,609/sq mi/621/km2",33°13′N 87°32′W
331,Norwalk,California,"100,373","102,773",−2.34%,9.7 sq mi or 25.1 km2,"10,595/sq mi/4,091/km2",33°54′N 118°05′W

In [35]:
df.dtypes

City                       object
State                      object
2021 estimate              object
2020 census                object
Change                     object
2020 land area             object
2020 population density    object
Location                   object
dtype: object

In [36]:
old_col = ['2020 land area']

def partition_land_area(current_val):
    before, sep, after = current_val.partition('sq')
    new_val = before.rstrip()
    return new_val 

def clean_land_area(row):
    for col in old_col:
        current_val = row[col]
        row[col] = partition_land_area(current_val)
    return row

df = df.apply(clean_land_area, axis=1)

In [37]:
df.rename(columns={'2020 land area': '2020 land area (square miles)', '2020 population density': '2020 population density (people per square mile)'}, inplace=True)

In [38]:
df

,City,State,2021 estimate,2020 census,Change,2020 land area (square miles),2020 population density (people per square mile),Location
Rank,,,,,,,,
1,New York,New York,"8,467,513","8,804,190",−3.82%,300.5,"29,298/sq mi/11,312/km2",40°39′N 73°55′W
2,Los Angeles,California,"3,849,297","3,898,747",−1.27%,469.5,"8,304/sq mi/3,206/km2",34°01′N 118°25′W
3,Chicago,Illinois,"2,696,555","2,746,388",−1.81%,227.7,"12,061/sq mi/4,657/km2",41°50′N 87°41′W
4,Houston,Texas,"2,288,250","2,304,580",−0.71%,640.4,"3,599/sq mi/1,390/km2",29°47′N 95°23′W
5,Phoenix,Arizona,"1,624,569","1,608,139",+1.02%,518.0,"3,105/sq mi/1,199/km2",33°34′N 112°05′W
...,...,...,...,...,...,...,...,...
327,Lynn,Massachusetts,"100,843","101,253",−0.40%,10.7,"9,463/sq mi/3,654/km2",42°28′N 70°57′W
328,Carmel,Indiana,"100,777","99,757",+1.02%,49.1,"2,032/sq mi/785/km2",39°35′N 86°36′W
329,Longmont,Colorado,"100,758","98,885",+1.89%,28.8,"3,434/sq mi/1,326/km2",40°10′N 105°07′W
330,Tuscaloosa,Alabama,"100,618","99,600",+1.02%,61.9,"1,609/sq mi/621/km2",33°13′N 87°32′W
331,Norwalk,California,"100,373","102,773",−2.34%,9.7,"10,595/sq mi/4,091/km2",33°54′N 118°05′W

In [39]:
old_col = ['2020 population density (people per square mile)']

def partition_pop_density(current_val):
    before, sep, after = current_val.partition('/')
    new_val = before
    return new_val 

def clean_pop_density(row):
    for col in old_col:
        current_val = row[col]
        row[col] = partition_pop_density(current_val)
    return row

df = df.apply(clean_pop_density, axis=1)

In [40]:
df.dtypes

City                                                object
State                                               object
2021 estimate                                       object
2020 census                                         object
Change                                              object
2020 land area (square miles)                       object
2020 population density (people per square mile)    object
Location                                            object
dtype: object

In [41]:
df = df.replace(',', '', regex=True)

In [42]:
df

,City,State,2021 estimate,2020 census,Change,2020 land area (square miles),2020 population density (people per square mile),Location
Rank,,,,,,,,
1,New York,New York,8467513,8804190,−3.82%,300.5,29298,40°39′N 73°55′W
2,Los Angeles,California,3849297,3898747,−1.27%,469.5,8304,34°01′N 118°25′W
3,Chicago,Illinois,2696555,2746388,−1.81%,227.7,12061,41°50′N 87°41′W
4,Houston,Texas,2288250,2304580,−0.71%,640.4,3599,29°47′N 95°23′W
5,Phoenix,Arizona,1624569,1608139,+1.02%,518.0,3105,33°34′N 112°05′W
...,...,...,...,...,...,...,...,...
327,Lynn,Massachusetts,100843,101253,−0.40%,10.7,9463,42°28′N 70°57′W
328,Carmel,Indiana,100777,99757,+1.02%,49.1,2032,39°35′N 86°36′W
329,Longmont,Colorado,100758,98885,+1.89%,28.8,3434,40°10′N 105°07′W
330,Tuscaloosa,Alabama,100618,99600,+1.02%,61.9,1609,33°13′N 87°32′W
331,Norwalk,California,100373,102773,−2.34%,9.7,10595,33°54′N 118°05′W

In [43]:
df.dtypes

City                                                object
State                                               object
2021 estimate                                       object
2020 census                                         object
Change                                              object
2020 land area (square miles)                       object
2020 population density (people per square mile)    object
Location                                            object
dtype: object

In [44]:
convert_dict = {'2021 estimate': int, 
                '2020 census': int, 
                '2020 population density (people per square mile)': int,
                '2020 land area (square miles)': float
                }
 
df = df.astype(convert_dict)
print(df.dtypes)

City                                                 object
State                                                object
2021 estimate                                         int32
2020 census                                           int32
Change                                               object
2020 land area (square miles)                       float64
2020 population density (people per square mile)      int32
Location                                             object
dtype: object

In [45]:
df.sort_values(by='2020 population density (people per square mile)', ascending=False)

,City,State,2021 estimate,2020 census,Change,2020 land area (square miles),2020 population density (people per square mile),Location
Rank,,,,,,,,
1,New York,New York,8467513,8804190,−3.82%,300.5,29298,40°39′N 73°55′W
75,Jersey City,New Jersey,283927,292449,−2.91%,14.7,19894,40°43′N 74°04′W
163,Paterson,New Jersey,157794,159732,−1.21%,8.4,19016,40°55′N 74°10′W
17,San Francisco,California,815201,873965,−6.72%,46.9,18635,37°43′N 123°02′W
246,Cambridge,Massachusetts,117090,118403,−1.11%,6.4,18500,42°22′N 71°07′W
...,...,...,...,...,...,...,...,...
121,Augusta,Georgia,201196,202081,−0.44%,302.3,668,33°22′N 82°04′W
165,Macon,Georgia,156762,157346,−0.37%,249.4,631,32°48′N 83°41′W
319,Goodyear,Arizona,101733,95294,+6.76%,191.3,498,33°27′N 112°22′W
320,Buckeye,Arizona,101315,91502,+10.72%,393.0,233,33°22′N 112°35′W
73,Anchorage,Alaska,288121,291247,−1.07%,1706.8,171,61°10′N 149°17′W

In [46]:
df = df.replace('−', '-', regex=True)

In [47]:
df['Change'] = df['Change'].str.rstrip('%')

In [48]:
df

,City,State,2021 estimate,2020 census,Change,2020 land area (square miles),2020 population density (people per square mile),Location
Rank,,,,,,,,
1,New York,New York,8467513,8804190,-3.82,300.5,29298,40°39′N 73°55′W
2,Los Angeles,California,3849297,3898747,-1.27,469.5,8304,34°01′N 118°25′W
3,Chicago,Illinois,2696555,2746388,-1.81,227.7,12061,41°50′N 87°41′W
4,Houston,Texas,2288250,2304580,-0.71,640.4,3599,29°47′N 95°23′W
5,Phoenix,Arizona,1624569,1608139,+1.02,518.0,3105,33°34′N 112°05′W
...,...,...,...,...,...,...,...,...
327,Lynn,Massachusetts,100843,101253,-0.40,10.7,9463,42°28′N 70°57′W
328,Carmel,Indiana,100777,99757,+1.02,49.1,2032,39°35′N 86°36′W
329,Longmont,Colorado,100758,98885,+1.89,28.8,3434,40°10′N 105°07′W
330,Tuscaloosa,Alabama,100618,99600,+1.02,61.9,1609,33°13′N 87°32′W
331,Norwalk,California,100373,102773,-2.34,9.7,10595,33°54′N 118°05′W

In [49]:
df.rename(columns={'Change': 'Change (%)'}, inplace=True)

In [50]:
df['Change (%)'] = df['Change (%)'].astype(float)

In [51]:
df

,City,State,2021 estimate,2020 census,Change (%),2020 land area (square miles),2020 population density (people per square mile),Location
Rank,,,,,,,,
1,New York,New York,8467513,8804190,-3.82,300.5,29298,40°39′N 73°55′W
2,Los Angeles,California,3849297,3898747,-1.27,469.5,8304,34°01′N 118°25′W
3,Chicago,Illinois,2696555,2746388,-1.81,227.7,12061,41°50′N 87°41′W
4,Houston,Texas,2288250,2304580,-0.71,640.4,3599,29°47′N 95°23′W
5,Phoenix,Arizona,1624569,1608139,1.02,518.0,3105,33°34′N 112°05′W
...,...,...,...,...,...,...,...,...
327,Lynn,Massachusetts,100843,101253,-0.40,10.7,9463,42°28′N 70°57′W
328,Carmel,Indiana,100777,99757,1.02,49.1,2032,39°35′N 86°36′W
329,Longmont,Colorado,100758,98885,1.89,28.8,3434,40°10′N 105°07′W
330,Tuscaloosa,Alabama,100618,99600,1.02,61.9,1609,33°13′N 87°32′W
331,Norwalk,California,100373,102773,-2.34,9.7,10595,33°54′N 118°05′W

In [52]:
df.sort_values(by='Change (%)', ascending=False)

,City,State,2021 estimate,2020 census,Change (%),2020 land area (square miles),2020 population density (people per square mile),Location
Rank,,,,,,,,
320,Buckeye,Arizona,101315,91502,10.72,393.0,233,33°22′N 112°35′W
223,Meridian,Idaho,125963,117635,7.08,35.1,3351,43°37′N 116°23′W
319,Goodyear,Arizona,101733,95294,6.76,191.3,498,33°27′N 112°22′W
105,Port St. Lucie,Florida,217523,204851,6.19,119.2,1719,27°17′N 80°23′W
299,Nampa,Idaho,106186,100200,5.97,33.5,2991,43°34′N 116°34′W
...,...,...,...,...,...,...,...,...
321,Daly City,California,101243,104901,-3.49,7.6,13803,37°42′N 122°28′W
309,Boulder,Colorado,104175,108250,-3.76,26.3,4116,40°01′N 105°15′W
1,New York,New York,8467513,8804190,-3.82,300.5,29298,40°39′N 73°55′W
245,Berkeley,California,117145,124321,-5.77,10.4,11954,37°52′N 122°17′W
17,San Francisco,California,815201,873965,-6.72,46.9,18635,37°43′N 123°02′W

In [53]:
df

,City,State,2021 estimate,2020 census,Change (%),2020 land area (square miles),2020 population density (people per square mile),Location
Rank,,,,,,,,
1,New York,New York,8467513,8804190,-3.82,300.5,29298,40°39′N 73°55′W
2,Los Angeles,California,3849297,3898747,-1.27,469.5,8304,34°01′N 118°25′W
3,Chicago,Illinois,2696555,2746388,-1.81,227.7,12061,41°50′N 87°41′W
4,Houston,Texas,2288250,2304580,-0.71,640.4,3599,29°47′N 95°23′W
5,Phoenix,Arizona,1624569,1608139,1.02,518.0,3105,33°34′N 112°05′W
...,...,...,...,...,...,...,...,...
327,Lynn,Massachusetts,100843,101253,-0.40,10.7,9463,42°28′N 70°57′W
328,Carmel,Indiana,100777,99757,1.02,49.1,2032,39°35′N 86°36′W
329,Longmont,Colorado,100758,98885,1.89,28.8,3434,40°10′N 105°07′W
330,Tuscaloosa,Alabama,100618,99600,1.02,61.9,1609,33°13′N 87°32′W
331,Norwalk,California,100373,102773,-2.34,9.7,10595,33°54′N 118°05′W

In [54]:
output_file = 'cleaned_wiki_city_data.csv'
output_dir = Path(DATA_DIR)
output_dir.mkdir(parents=True, exist_ok=True)
df.to_csv(output_dir / output_file, index=False)